spring:
  application:
    name: hhplus
  profiles:
    active: local

  datasource:
    name: HangHaePlusDataSource
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 3
      connection-timeout: 10000
      max-lifetime: 60000
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    generate-ddl: false
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate.timezone.default_storage: NORMALIZE_UTC
      hibernate.jdbc.time_zone: UTC

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: V2hhdCBpcyB0aGUgYW5zd2VyIHRvIGxpZmUsIHRoZSB1bml2ZXJzZSwgYW5kIGV2ZXJ5dGhpbmc/IDQyIQ==

---
spring.config.activate.on-profile: local, test

spring:
  datasource:
    url: jdbc:mysql://localhost:3400/hhplus?characterEncoding=UTF-8&serverTimezone=UTC
    username: hhplus
    password: hhplus

waiting:
  expiration_time: 5
